.nav-item blogSite{
    font-size: small;
}
.dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 150px;
    overflow: auto;
    background-color: #adadad;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #ad64af;
  }

  ul{
      list-style: none;
  }
  img{
    height: 25px;
    width: auto;
}
